<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<h1>Welcome to Quiz App</h1>
<% if current_user %>
	<a href="http://0.0.0.0:3000/questions" class="btn btn-default" role="button">Questions</a>
	&nbsp; &nbsp; &nbsp; &nbsp;
	<a href="http://0.0.0.0:3000/genres" class="btn btn-default" role="button">Genres</a>
	&nbsp; &nbsp; &nbsp; &nbsp;
	<%= link_to 'Logout',destroy_user_session_path, :method => :delete %>
	<br/>
<% else %>
	<%= link_to 'Login', new_user_session_path %>
<% end %>
